<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Destination Suggestor</title>
</head>
<body>
    <div>
        <P>Enter your details</P>
        <form action="#" method="post">

            duration:<input type="number" name="duration" placeholder="In days"> <br>
            dest_type:<input type="text" name="dest_type" placeholder="eg Mountains/beaches/"> <br>
            Budget: <input type="text" name="Budget"> <br>
            interests: <input type="text" name="interests"> <br>
            style: <input type="text" name="style"> <br>
            when: <input type="text" name="when"> <br>
            curr_location: <input type="text" name="curr_location"> <br>



            <input type="submit">
        </form>
    </div>
<br>
<b>dest types</b> <br>
            Beach
            Mountains
            Forests
            Countryside
            Islands
            Towns and Cities
            Winter Sport Areas
            Desert
            Lakes and Rivers
            Springs and Hot Springs
            Volcanoes
            Rainforests
            Cultural and Historical Sites

            <br><b>Travel interests</b> <br>
            History
Nature
Food
Relaxation
Adventure
Culture
Art
Architecture
Shopping
Nightlife
Wildlife
Diving
Surfing
Skiing
Hiking
Camping
Photography

            <br><b>Travel styles</b> <br>
            Relaxing
Adventurous
Luxurious
Cultural
Budget
Backpacking
Solo
Group
Romantic
Off-the-beaten-path
</body>
</html>